<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/main_layout}" >
<head>
 <title>Index Page</title>
</head>
<body>

     <div  layout:fragment="content" class="container mySpace">
          <div class="alert alert-success">
          	Welcome to About.
          </div>
         Steps to get all the task of all the employees on REST.<br>
         You will need the POSTMAN tool.
     </div>
</body>
</html>