<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/main_layout}" >
<head>
 <title>Index Page</title>
</head>
<body>

     <div  layout:fragment="content" class="container mySpace">
          <div class="jumbotron">
          <p>
	          Hello !<br>
	          Welcome to the Workflow Manager. <br>
	          I am designed to assign tasks from Manager - User(s) <br>
	          The User gets notified when a task is assigned to them <br>
	          After the completion of the task, the user can click 'completed' to report completion.<br>
          </p>
          </div>
     </div>
</body>
</html>